@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #f9f7f6;
	color: #404d5b;
	font-weight: 300;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.svg-wrap {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

a {
	color: #404d5b;
	text-decoration: none;
	outline: none;
}

section {
	padding: 6em 2em;
}

section p {
	font-size: 3em;
	line-height: 1.518;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.codrops-header {
	padding: 5em 2em;
	letter-spacing: -1px;
}

.codrops-header h1 {
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 800;
	font-size: 5em;
	line-height: 1;
}

.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.325em;
	color: #c3c8cd;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #34495e;
}

.codrops-top a:hover,
.codrops-top a:focus {
	color: #fb6859;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Related demos */
.related {
	text-align: center;
}

.related p {
	padding: 2em 0;
	font-size: 2em;
	font-weight: 500;
}

.related > a {
	border: 1px solid #333;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	white-space: pre-line;
}

.related a:hover {
	border-color: #333;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	font-size: 1.2em;
	text-align: left;
}

@media screen and (max-width: 50em) {
	section {
		font-size: 50%;
		padding: 6em 6.6em;
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}